/* *:focus{
  border:3px dotted #f9ad48;
} */
.logo {
  display: block;
  padding: 2rem 0;
}
.ant-layout {
  background-color: #ffffff;
}
.ant-layout-sider svg {
  margin-right: 0.5rem;
}
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  /* border-right: solid 4px #f9ad48; */
  background-color: rgba(0, 0, 0, 0.03);
}
.ant-menu-vertical .ant-menu-item::after,
.ant-menu-vertical-left .ant-menu-item::after,
.ant-menu-vertical-right .ant-menu-item::after,
.ant-menu-inline .ant-menu-item::after {
  border-right: 3px solid #f9ad48;
}

.ant-menu-item-selected,
.ant-menu-item-selected a,
.ant-menu-item-selected a:hover {
  color: #f9ad48;
}
.ant-menu-item:hover,
.ant-menu-item-active,
.ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open,
.ant-menu-submenu-active,
.ant-menu-submenu-title:hover {
  color: #f9ad48;
  background-color: rgba(0, 0, 0, 0.03);
}
.ant-menu-item a:hover,
.ant-menu-item-active a,
.ant-menu:not(.ant-menu-inline) a .ant-menu-submenu-open a,
.ant-menu-submenu-active a,
.ant-menu-submenu-title a:hover {
  color: #f9ad48;
}
.sideBottom {
  position: absolute;
  bottom: 0;
  display: block;
  right: 0;
  left: 0;
}
.sideBottom .sideBottom-shape {
  background-color: #4d4d4d;
  display: block;
  height: 42px;
  border-radius: 0 1.5rem 0 0;
}
.ant-layout-header {
  background: none;
  line-height: normal;
  height: auto;
}
.ant-layout-header .header-nav-top {
  line-height: 64px;
  background-color: #4d4d4d;
}
.ant-layout-header .header-nav-bot {
  line-height: 64px;
  /* background-color: #4d4d4d; */
}
.ant-layout-header .header-nav-bot .nav-bot-left {
  background-color: #4d4d4d;
  border-radius: 0 0 1.5rem 1.5rem;
}
.ant-layout-header .header-nav-bot .nav-bot-right {
  background-color: #4d4d4d;
}
.ant-layout-header .header-nav-bot .nav-bot-right .right-shape {
  border-radius: 1.5rem 0 0 0;
  background-color: #ffffff;
}
.ant-menu-inline,
.ant-menu-vertical,
.ant-menu-vertical-left {
  border-right: none;
}
.ant-layout-footer {
  background: none;
  padding: 0;
  height: 42px;
}

.login .logo-container {
  text-align: center;
  background: #333333;
}
.login .logo-container::before {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  background-image: url(/images/left_bg2x.png);
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: center;
}
.login .logo-container .logo-holder {
  text-align: center;
  color: rgba(255, 255, 255, 0.75);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 18vh 1vw 0;
  font-size: 18px;
  font-weight: 300;
}
.login .logo-container .logo-holder img {
  width: 40%;
  fill: #f9ad48;
}
/* .login .logo-container .logo-holder .logo-img .cls-2 {
  color: #ffffff;
} */

.login .loginform-container {
  text-align: center;
}
.login .loginform-container .loginform-banner {
  text-align: center;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  padding: 18vh 1vw 8vh;
  font-size: 18px;
  font-weight: 300;
  color: #000;
  z-index: 1;
}
.login .loginform-container .loginform-banner img {
  width: 40%;
  /*inverting svg color in an image tag */
  filter: invert(1000%) sepia(0%) saturate(7445%) hue-rotate(216deg)
    brightness(96%) contrast(101%);
}
.login .loginform-container .loginform-banner::after {
  z-index: -1;
  position: absolute;
  content: "";
  top: 103%;
  right: 5px;
  width: 80%;
  bottom: 0;
  max-width: 100%;
  background: #777;
  box-shadow: 0 -15px 10px #ccc;
  transform: rotate(-1deg);
  min-height: 100px;
}
.login .loginform-container .loginform-holder {
  text-align: left;
  padding: 30px 40px;
  color: #999;
  width: 100%;
  position: relative;
  background: #fff;
  height: 400px;
  z-index: 1;
}

.login .loginform-container .loginform-holder .loginform-form {
  width: 75%;
  margin: 0 auto;
}
.login .loginform-container .loginform-holder .loginform-form h1 {
  font-size: 1.7rem;
  text-transform: uppercase;
  padding: 1rem 0 0 0;
  margin-bottom: 0;
  font-weight: 700;
}

.login .loginform-container .loginform-holder .loginform-form .login-label {
  padding: 3px 7px;
  background-color: #fff;
  position: relative;
  top: 10px;
  z-index: 1;
  font-weight: 500;
  margin-left: 10px;
}
.login .loginform-container .loginform-holder .loginform-form .ant-btn-primary {
  width: 100%;
  border-radius: 5rem;
  height: 45px;
  -webkit-box-shadow: 0px 15px 25px -12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 15px 25px -12px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 15px 25px -12px rgba(0, 0, 0, 0.75);
  background: #000000;
  border-color: #000000;
}
.login .loginform-container .loginform-holder .loginform-form .ant-btn:hover,
.login .loginform-container .loginform-holder .loginform-form .ant-btn:focus,
.login .loginform-container .loginform-holder .loginform-form .ant-btn:active {
  background: #313030;
  border-color: #313030;
  -webkit-box-shadow: 0px 15px 25px -12px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: 0px 15px 25px -12px rgba(0, 0, 0, 0.9);
  box-shadow: 0px 15px 25px -12px rgba(0, 0, 0, 0.9);
}

.login
  .loginform-container
  .loginform-holder
  .loginform-form
  .ant-checkbox-checked
  .ant-checkbox-inner {
  background-color: #000000;
  border-color: #000000;
}
.login
  .loginform-container
  .loginform-holder
  .loginform-form
  .ant-checkbox-wrapper:hover
  .ant-checkbox-inner,
.login
  .loginform-container
  .loginform-holder
  .loginform-form
  .ant-checkbox:hover
  .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color: #000000;
}
.login
  .loginform-container
  .loginform-holder
  .loginform-form
  .ant-checkbox-checked::after {
  border-color: #000000;
}
.main-content-holder {
  padding-right: 16px;
  padding-left: 0;
}


body.radial-open svg.radial-menu-svg {
  transform: scale(1);
  transition: transform 0.12s ease 0.2s;
  opacity: 1;
}
body.radial-open .ellipsis.radial-bottom-right-aligned {
  bottom: 23%;
  right: 11%;
  opacity: 0;
}
body.radial-open .ellipsis.radial-bottom-left-aligned {
  bottom: 23%;
  left: 11%;
  opacity: 0;
}
body:not(.radial-open) .ellipsis {
  transition-delay: 0.2s;
}
body:not(.radial-open) svg.radial-menu-svg {
  transform: scale(0);
  transition: transform 0.3s ease;
}
svg.radial-menu-svg {
  z-index: 2;
  position: absolute;
}
svg.radial-menu-svg.radial-bottom-right-aligned {
  bottom: 10%;
  right: 5%;
  position: fixed;
}
svg.radial-menu-svg.radial-bottom-left-aligned {
  bottom: 10%;
  left: 5%;
}
svg.radial-menu-svg text, svg.radial-menu-svg text tspan {
  font-family: "ams-icons" !important;
}
svg.radial-menu-svg path.slicepath {
  transition: fill 2s ease-out;
}
svg.radial-menu-svg > g > g:hover path.slicepath {
  fill: #a7d1f5 !important;
  transition: fill 0.5s cubic-bezier(0.17, 0.67, 0.83, 0.67);
}
svg.radial-menu-svg g.pie__slice__group:hover, svg.radial-menu-svg g.inner__center__group:hover {
  cursor: pointer;
}
svg.radial-menu-svg > g > g.pie__slice__group:hover text {
  fill: #333;
}
a.ellipsis {
  position: absolute;
  z-index: 1;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background: #fff;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.44);
  opacity: 1;
}
a.ellipsis:active, a.ellipsis:hover {
  box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.44);
}
a.ellipsis.radial-bottom-right-aligned {
  bottom: 5vmin;
  right: 5vmin;
  -webkit-transition: right 0.3s ease-in-out, bottom 0.3s ease-in-out, opacity 0.35s ease-in-out;
  transition: right 0.3s ease-in-out, bottom 0.3s ease-in-out, opacity 0.35s ease-in-out;
  position: fixed;
}
a.ellipsis.radial-bottom-left-aligned {
  bottom: 5vmin;
  left: 5vmin;
  -webkit-transition: left 0.3s ease-in-out, bottom 0.3s ease-in-out, opacity 0.35s ease-in-out;
  transition: left 0.3s ease-in-out, bottom 0.3s ease-in-out, opacity 0.35s ease-in-out;
}
a.ellipsis i {
  color: #333;
  font-size: 24px;
  padding: 14px 5px;
  display: block;
  text-align: center;
}
